/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: roboto-regular; src: url("../fonts/roboto-regular.eot"); src: url("../fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: roboto-medium; src: url("../fonts/roboto-medium.eot"); src: url("../fonts/roboto-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium.woff") format("woff"), url("../fonts/roboto-medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: roboto-bold; src: url("../fonts/roboto-bold.eot"); src: url("../fonts/roboto-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold.woff") format("woff"), url("../fonts/roboto-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: roboto-italic; src: url("../fonts/roboto-italic.eot"); src: url("../fonts/roboto-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-italic.woff") format("woff"), url("../fonts/roboto-italic.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: robotocondensed-bold; src: url("../fonts/robotocondensed-bold.eot"); src: url("../fonts/robotocondensed-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/robotocondensed-bold.woff") format("woff"), url("../fonts/robotocondensed-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: roboto-light; src: url("../fonts/roboto-light.eot"); src: url("../fonts/roboto-light.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light.woff") format("woff"), url("../fonts/roboto-light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: roboto-thin; src: url("../fonts/roboto-thin.eot"); src: url("../fonts/roboto-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-thin.woff") format("woff"), url("../fonts/roboto-thin.ttf") format("truetype"); font-weight: normal; font-style: normal; }
html ::selection { background: rgba(0, 135, 179, 0.3); }
html ::-moz-selection { background: rgba(0, 135, 179, 0.3); }

body { min-width: 320px; font-size: 15px; font-family: "roboto-regular", Arial, sans-serif; color: #565656; line-height: 1.2; background: #f9f9f9; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; }

a { text-decoration: none; color: #47a8c8; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
a:hover { color: #0087b3; }

.l-center { position: relative; margin: 0 auto; padding: 0 50px; max-width: 1200px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 800px) { .l-center { padding: 0 20px; } }

.to-center { text-align: center; }

.wrap { *zoom: 1; clear: both; }
.wrap:after { content: " "; display: table; clear: both; }

.wrapper { overflow: hidden; }

.out { position: relative; margin: 0 0 -85px; min-height: 100%; height: auto !important; height: 100%; overflow: hidden; }

.push { clear: both; height: 85px; }

.header { position: relative; z-index: 2; font-size: 13px; background: white; box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2); }
.header .l-center { *zoom: 1; padding: 0; }
.header .l-center:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 800px) { .header .l-center { padding: 0 20px 20px; } }
.header__logo { position: relative; float: left; }
@media only screen and (max-width: 800px) { .header__logo { float: none; margin-left: -50px; text-align: center; } }
.header__logo a { display: inline-block; padding-left: 107px; height: 90px; line-height: 90px; position: relative; letter-spacing: 0.5px; color: #565656; font-family: "roboto-bold", Arial, sans-serif; font-size: 30px; }
.header__logo a:hover { color: #565656; }
.header__logo span { color: #47a8c8; font-family: "roboto-thin", Arial, sans-serif; }
.header__logo img { position: absolute; left: 0; top: 15px; -moz-transition: all 0.4s linear; -o-transition: all 0.4s linear; -webkit-transition: all 0.4s linear; transition: all 0.4s linear; }
.header__link { float: right; margin-top: 22px; }
@media only screen and (max-width: 800px) { .header__link { float: none; display: block; }
  .header__link .link { display: block; text-align: center; } }
.header__lang { float: right; margin: 27px 18px 0 28px; }
@media only screen and (max-width: 800px) { .header__lang { float: none; margin: -20px 18px 45px 0; text-align: right; } }
.header__lang .select { display: inline-block; }
.header__user { float: right; margin-top: 23px; border-right: 1px solid lightgray; }
@media only screen and (max-width: 980px) { .header__user { display: none; } }
.header__user span, .header__user a { display: inline-block; margin-right: 23px; height: 42px; line-height: 42px; }
.header__nav { float: right; margin-top: 20px; width: 300px; display: none; }
@media only screen and (max-width: 980px) { .header__nav { display: block; } }
@media only screen and (max-width: 800px) { .header__nav { width: 100%; } }
.header__nav select { width: 100%; }
.header__nav-text { display: block; position: relative; height: 48px; line-height: 48px; text-align: center; background: #f9f9f9; -webkit-border-radius: 10px; border-radius: 10px; color: #6a6a6a; font-size: 13px; border: 1px solid lightgray; }
.header__nav-text:after { content: ""; position: absolute; top: 10px; right: 10px; background: url('../img/icons-sf480961047.png') 0 -578px no-repeat; background-position: 0 -289px; width: 36px; height: 27px; -moz-background-size: 310px, 430px; -o-background-size: 310px, 430px; -webkit-background-size: 310px, 430px; background-size: 310px, 430px; }

.link { display: inline-block; border: 1px solid lightgray; padding: 15px 22px 16px; color: #6a6a6a; border-radius: 10px; background: #f9f9f9; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.link:hover { color: #47a8c8; border-color: #47a8c8; }
.link.is-liquid { display: block; text-align: center; padding: 15px 5px 16px; }

.select { position: relative; }
.select_input.is-active .input { position: relative; z-index: 2; box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #47a8c8; }
.select_input .input { padding-right: 30px; line-height: 46px; position: relative; cursor: pointer; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.select_input .input:after { content: "\f0d7"; position: absolute; top: 16px; right: 16px; font-family: FontAwesome; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 15px; color: #aaaaaa; }
.select_input select { width: 100%; }
.select select { position: absolute; top: 0; left: 0; height: 100%; width: 100%; margin: 0; opacity: 0; cursor: pointer; -webkit-appearance: none; }
.select__text { display: block; position: relative; padding: 10px 17px 10px 10px; font-size: 13px; color: #47a8c8; }
.select__text:after { content: "\f0d7"; position: absolute; top: 12px; right: 0; font-size: 12px; color: #aaaaaa; font-family: FontAwesome; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.list { margin: 18px 0; line-height: 1.2; font-size: 16px; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; }
.list li { position: relative; margin-bottom: 7px; padding-left: 27px; }
.list li:before { content: "\f00c"; position: absolute; left: 0; top: 3px; font-size: 16px; color: #47a8c8; text-shadow: 0 1px 0 white; font-family: FontAwesome; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.title { margin-bottom: 2px; font-size: 28px; letter-spacing: 0.5px; font-family: "roboto-thin", Arial, sans-serif; }
.title strong { font-weight: normal; font-family: "roboto-bold", Arial, sans-serif; }
.title span { color: #47a8c8; }

.subtitle { margin-bottom: 40px; font-size: 28px; font-family: "roboto-medium", Arial, sans-serif; }

.field-group { margin-bottom: 23px; border-bottom: 1px solid #e5e5e5; padding-bottom: 19px; }
.field-group:last-child { border: 0; }
.field-group__info { padding-bottom: 15px; font-size: 13px; }
.field-group__info strong { display: block; font-weight: normal; font-family: "roboto-bold", Arial, sans-serif; }
.field-group .checkbox-wrap { margin-bottom: 30px; }

.field { font-size: 0; margin-bottom: 10px; }
.field__place, .field__zip { display: inline-block; vertical-align: middle; }
@media only screen and (max-width: 640px) { .field__place, .field__zip { display: block; } }
.field__place { width: 78%; }
@media only screen and (max-width: 640px) { .field__place { width: 100%; } }
.field__zip { width: 20%; margin-left: 2%; }
@media only screen and (max-width: 640px) { .field__zip { width: 100%; margin: 0; } }
.field__title { margin-bottom: 13px; font-size: 13px; font-family: "roboto-bold", Arial, sans-serif; color: #3e3e3e; }
.field__title span { font-family: "roboto-regular", Arial, sans-serif; color: #767676; }

.input-wrap { position: relative; }
.input-wrap_inline { display: inline-block; vertical-align: middle; }
@media only screen and (max-width: 800px) { .input-wrap_inline { display: block; width: 100%; } }
.input-wrap_half { display: inline-block; vertical-align: middle; width: 49%; margin-left: 2%; }
.input-wrap_half:first-child { margin-left: 0; }
@media only screen and (max-width: 640px) { .input-wrap_half { display: block; width: 100%; margin: 0 0 10px; } }
.input-wrap .fa-question-circle { position: absolute; z-index: 3; font-size: 18px; color: #c2c2c2; top: 16px; right: 10px; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.input-wrap .fa-question-circle:hover { color: #47a8c8; }

.input { display: block; padding: 0 17px; width: 100%; height: 46px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 13px; font-family: "roboto-bold", Arial, sans-serif; color: #565656; background: #f9f9f9; border-radius: 7px; border: 1px solid lightgray; box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); }
.input:focus { position: relative; z-index: 2; box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #47a8c8; }
.input.is-error { box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #cc0000; }
.input:-ms-input-placeholder { color: #6a6a6a; }
.input:-moz-placeholder { color: #6a6a6a; }
.input::-moz-placeholder { color: #6a6a6a; }
.input::-webkit-input-placeholder { color: #6a6a6a; }
.input::placeholder { color: #6a6a6a; }

.btn { display: inline-block; vertical-align: middle; padding: 15px 20px; color: white; font-size: 13px; background: #47a7c7; border-radius: 10px; -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.7); -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.7); box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.7); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; -webkit-transition: background 0.2s linear; transition: background 0.2s linear; }
.btn:hover { background: #0087b3; }
.btn:active { -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7); }
.btn .fa { margin-right: 4px; }
.btn.is-liquid { display: block; width: 100%; padding: 15px 5px; text-align: center; }

.checkbox-wrap { margin-bottom: 10px; }

.checkbox { display: inline-block; position: relative; cursor: pointer; font-size: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.checkbox input { position: absolute; left: 0; top: 0; width: 18px; height: 18px; opacity: 0; visibility: hidden; }
.checkbox input:checked + span:after { visibility: visible; opacity: 1; top: 1px; }
.checkbox span { display: block; position: relative; margin: 0; padding-left: 30px; font-size: 13px; font-family: "roboto-bold", Arial, sans-serif; color: #3e3e3e; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkbox span:before { content: ""; position: absolute; left: 0px; top: 0; border: 1px solid lightgray; width: 16px; height: 16px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: #f9f9f9; border-radius: 4px; -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.13); -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.13); box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.13); }
.checkbox span:after { content: "\f00c"; position: absolute; left: 1px; top: -5px; font-size: 14px; font-family: FontAwesome; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; opacity: 0; visibility: hidden; color: #47a8c8; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }

.footer { position: relative; border-top: 1px solid #e5e5e5; padding: 29px 0 25px; font-size: 13px; background: white; }
@media only screen and (max-width: 800px) { .footer { padding: 19px 0; }
  .footer .footer__in { display: block; }
  .footer .footer__nav, .footer .footer__info { display: block; text-align: center; }
  .footer .footer__nav { margin-bottom: 20px; } }
.footer__in { display: table; width: 100%; }
.footer__nav, .footer__info { display: table-cell; vertical-align: middle; }
.footer__nav a { display: inline-block; margin-right: 20px; }
.footer__nav a:last-child { margin-right: 0; }
.footer__info { color: #8a8a8a; text-align: right; }
.footer__info a { color: #3e3e3e; }

.slider { position: relative; height: 619px; overflow: hidden; }
@media only screen and (max-width: 800px) { .slider { cursor: default; padding: 5px 20px; background: white; height: auto; } }
.slider .fotorama { overflow: hidden; height: 619px; }
@media only screen and (max-width: 800px) { .slider .fotorama { height: auto; }
  .slider .fotorama .fotorama__stage { height: auto !important; } }
.slider .fotorama__nav-wrap { bottom: 32px; text-align: left; }
.slider .fotorama__nav__shaft { max-width: 1100px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 208px; margin: 0 auto; display: block; }
.slider__item { position: relative; }
@media only screen and (max-width: 800px) { .slider__item { display: none; }
  .slider__item:first-child { display: block; } }
.slider__item .l-center { position: relative; height: 619px; }
@media only screen and (max-width: 800px) { .slider__item .l-center { height: auto; } }
.slider__img { position: absolute; left: 50%; top: 0; bottom: 0; margin-left: -1200px; width: 2400px; text-align: center; }
@media only screen and (max-width: 800px) { .slider__img { display: none; } }
.slider__info { position: absolute; bottom: 300px; left: 147px; }
.slider__info .list { margin-left: 30px; }
@media only screen and (max-width: 800px) { .slider__info { position: static; padding-top: 16px; }
  .slider__info .list { margin-left: 20px; } }
.slider__title { margin-bottom: 6px; font-size: 44px; font-family: "roboto-thin", Arial, sans-serif; }
@media only screen and (max-width: 800px) { .slider__title { font-size: 27px; } }
.slider__subtitle { margin-bottom: 29px; font-size: 30px; font-family: "roboto-bold", Arial, sans-serif; }
@media only screen and (max-width: 800px) { .slider__subtitle { margin-bottom: 0; font-size: 20px; } }
.slider__login { min-height: 1px; position: relative; }

.login { position: absolute; left: 69px; bottom: 107px; width: 452px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: white; border-radius: 10px; }
@media only screen and (max-width: 800px) { .login { position: static; width: 100%; } }
.login .field { margin-bottom: 14px; }
.login .input-wrap { margin-right: 10px; width: 150px; }
@media only screen and (max-width: 800px) { .login .input-wrap { width: 100%; margin: 0 0 10px; } }
@media only screen and (max-width: 800px) { .login .btn { width: 100%; margin: 0 0 10px; text-align: center; } }
.login__in { padding: 15px 15px 7px; }
@media only screen and (max-width: 800px) { .login__in { padding: 15px 0 15px; } }
.login__footer { border-top: 1px solid #e5e5e5; padding: 15px 33px 22px; color: #6a6a6a; font-size: 13px; font-family: "roboto-bold", Arial, sans-serif; }
@media only screen and (max-width: 800px) { .login__footer { padding-left: 0; } }

.soc-enter { padding-left: 20px; color: #6a6a6a; }
@media only screen and (max-width: 800px) { .soc-enter { padding-left: 0; text-align: center; } }
.soc-enter a, .soc-enter span { display: inline-block; vertical-align: middle; }
.soc-enter span { margin-right: 10px; font-size: 13px; font-family: "roboto-bold", Arial, sans-serif; }
@media only screen and (max-width: 800px) { .soc-enter span { display: block; } }
.soc-enter a { width: 36px; height: 36px; text-align: center; line-height: 36px; font-size: 28px; }
.soc-enter a i { display: inline-block; vertical-align: middle; }

.promo { position: relative; padding-top: 9px; height: 416px; color: #3e3e3e; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: url(../img/paper.png) 50% 0 repeat; }
@media only screen and (max-width: 800px) { .promo { height: auto; background: url(../img/paper2.jpg) 50% 0 repeat; } }
.promo__in { max-width: 996px; margin: 0 auto; }
.promo__title { margin: 0 auto; background: url('../img/icons-sf480961047.png') 0 -113px no-repeat; width: 620px; height: 164px; line-height: 180px; font-size: 40px; font-family: "roboto-thin", Arial, sans-serif; text-align: center; }
@media only screen and (max-width: 800px) { .promo__title { background: url('../img/icons-sf480961047.png') 0 -113px no-repeat; background-position: 0 -57px; width: 310px; height: 82px; -moz-background-size: 310px, 430px; -o-background-size: 310px, 430px; -webkit-background-size: 310px, 430px; background-size: 310px, 430px; font-size: 20px; line-height: 90px; } }
.promo__wrap { margin-top: 10px; padding-left: 26px; text-align: justify; font-size: 0; }
.promo__wrap:after { content: ""; display: inline-block; width: 100%; height: 0; }
@media only screen and (max-width: 800px) { .promo__wrap { margin-top: 0; padding: 20px 20px 0; text-align: left; } }
.promo__item { text-align: center; display: inline-block; vertical-align: bottom; font-size: 19px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45); }
@media only screen and (max-width: 800px) { .promo__item { display: block; text-align: left; margin-bottom: 40px; } }
.promo__img { height: 100px; }
@media only screen and (max-width: 800px) { .promo__img { display: inline-block; vertical-align: middle; margin-right: 11px; width: 62px; height: auto; text-align: center; } }
.promo__img i { display: inline-block; }
@media only screen and (max-width: 800px) { .promo__img i { position: static !important; } }
.promo__main div { margin-bottom: 14px; font-family: "roboto-bold", Arial, sans-serif; font-size: 30px; }
@media only screen and (max-width: 800px) { .promo__main { display: inline-block; vertical-align: middle; font-size: 14px; }
  .promo__main div { font-size: 25px; margin-bottom: 6px; } }
.promo__sign { background: url('../img/icons-sf480961047.png') 0 -778px no-repeat; width: 80px; height: 81px; }
@media only screen and (max-width: 800px) { .promo__sign { background: url('../img/icons-sf480961047.png') 0 -778px no-repeat; background-position: 0 -389px; width: 40px; height: 40.5px; -moz-background-size: 310px, 430px; -o-background-size: 310px, 430px; -webkit-background-size: 310px, 430px; background-size: 310px, 430px; } }
.promo__cart { position: relative; left: 19px; top: 3px; background: url('../img/icons-sf480961047.png') 0 0 no-repeat; width: 112px; height: 73px; }
@media only screen and (max-width: 800px) { .promo__cart { background: url('../img/icons-sf480961047.png') 0 0 no-repeat; background-position: 0 0; width: 56px; height: 36.5px; -moz-background-size: 310px, 430px; -o-background-size: 310px, 430px; -webkit-background-size: 310px, 430px; background-size: 310px, 430px; } }
.promo__receive { position: relative; top: -30px; left: 4px; background: url('../img/icons-sf480961047.png') 0 -642px no-repeat; width: 103px; height: 126px; }
@media only screen and (max-width: 800px) { .promo__receive { background: url('../img/icons-sf480961047.png') 0 -642px no-repeat; background-position: 0 -321px; width: 51.5px; height: 63px; -moz-background-size: 310px, 430px; -o-background-size: 310px, 430px; -webkit-background-size: 310px, 430px; background-size: 310px, 430px; } }

.about { padding: 45px 50px 44px; *zoom: 1; background: white; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; }
.about:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 800px) { .about { padding: 30px 20px 30px; }
  .about .about__img, .about .about__text { float: none; width: 100%; }
  .about .about__img .title, .about .about__img .subtitle, .about .about__text .title, .about .about__text .subtitle { display: none; }
  .about .about__text { text-align: left; }
  .about .about__hidden { display: block; } }
.about__img { float: left; width: 52%; }
.about__img img { max-width: 100%; }
.about__text { float: right; padding-top: 37px; width: 47%; text-align: right; }
.about__text p { margin-bottom: 14px; }
.about__hidden { display: none; }

.region { border-top: 1px solid #e5e5e5; padding: 26px 50px 50px; *zoom: 1; color: #3e3e3e; }
.region:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1200px) { .region { padding: 26px 0 33px; } }
@media only screen and (max-width: 980px) { .region .region__text { float: none; width: 100%; padding-top: 0; } }
@media only screen and (max-width: 800px) { .region .region__item { float: none; margin-bottom: 20px; padding-top: 20px; border-top: 1px solid #e5e5e5; width: 100%; *zoom: 1; }
  .region .region__item:after { content: " "; display: table; clear: both; }
  .region .region__item:first-child { border-top: 0; }
  .region .region__item:first-child img { width: 85px; }
  .region .region__item:nth-child(2) img { width: 100px; }
  .region .region__item:nth-child(3) img { width: 100px; }
  .region .region__item img { width: 65px; }
  .region .region__img { float: left; margin-top: -40px; width: 120px; text-align: left; height: auto; line-height: 1; }
  .region .region__img img { margin: 0; vertical-align: top; }
  .region .region__name { margin-bottom: 20px; text-align: left; margin-left: 120px; }
  .region .region__list { overflow: hidden; border: 0; margin: 0; padding: 0; }
  .region .subtitle { margin-bottom: 7px; } }
.region__text { float: left; padding-top: 30px; width: 29.5%; }
.region__maps { overflow: hidden; }
.region__item { float: left; width: 33.3%; }
.region__name { margin-bottom: 17px; text-align: center; font-family: "roboto-bold", Arial, sans-serif; font-size: 15px; }
.region__img { height: 245px; line-height: 245px; text-align: center; }
.region__img img { vertical-align: middle; margin-left: -30px; max-width: 100%; }
.region__list { margin-top: 32px; border-top: 1px solid #e5e5e5; padding: 15px 0 0 10px; }
.region__list li span { font-family: "roboto-italic", Arial, sans-serif; color: #878787; }

.l-main { margin-top: 73px; }
@media only screen and (max-width: 800px) { .l-main { margin-top: 20px; } }

.l-cols { *zoom: 1; padding-left: 50px; }
.l-cols:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1200px) { .l-cols { padding-left: 0; } }
.l-cols .l-col1 { float: left; width: 42%; }
@media only screen and (max-width: 800px) { .l-cols .l-col1 { float: none; margin-bottom: 28px; width: 100%; }
  .l-cols .l-col1 .title { font-size: 27px; }
  .l-cols .l-col1 .subtitle { margin-bottom: 17px; font-size: 20px; } }
.l-cols .l-col2 { float: right; width: 46.5%; }
@media only screen and (max-width: 800px) { .l-cols .l-col2 { float: none; width: 100%; } }

.l-cols-table { display: table; width: 100%; color: #3e3e3e; font-size: 13px; }
.l-cols-table .l-col1 { display: table-cell; vertical-align: top; width: 261px; }
.l-cols-table .l-col2 { display: table-cell; vertical-align: top; padding: 0 3%; }
.l-cols-table .l-col3 { display: table-cell; vertical-align: top; width: 185px; }
@media only screen and (max-width: 980px) { .l-cols-table .l-col1, .l-cols-table .l-col2, .l-cols-table .l-col3 { display: block; margin: 0 auto 35px; width: auto; padding: 0; max-width: 640px; } }

.col-title { margin-bottom: 30px; font-size: 20px; font-family: "roboto-bold", Arial, sans-serif; color: #3e3e3e; }
@media only screen and (max-width: 800px) { .col-title { margin-bottom: 25px; } }

.article { font-size: 15px; line-height: 1.2; font-family: "roboto-regular", Arial, sans-serif; }
.article p { margin-bottom: 14px; }
.article b, .article strong { font-weight: normal; font-family: "roboto-bold", Arial, sans-serif; }
.article i, .article em { font-style: normal; font-family: "roboto-italic", Arial, sans-serif; }
.article h1, .article h1, .article h2, .article h3, .article h4, .article h5, .article h6 { font-weight: normal; font-family: "roboto-bold", Arial, sans-serif; }
.article h1 { margin: 0 0 27px; font-size: 28px; line-height: 1; }
.article h2 { font-size: 21px; margin: 30px 0 14px; line-height: 1.1; }
.article h3 { font-size: 20px; margin: 25px 0 13px; }
.article h4 { font-size: 15px; margin: 24px 0 18px; }
.article h5 { font-size: 14px; margin: 24px 0 16px; }
.article h6 { font-size: 12px; margin: 22px 0 14px; }
.article img { margin: 10px 0 27px; max-width: 100%; height: auto; border-radius: 5px; }
.article hr { margin: 21px -22px 24px 0; display: block; width: 100%; padding-right: 22px; border: 0; height: 1px; background: #d7d7d7; }
.article blockquote { position: relative; padding-left: 35px; font-size: 12px; }
.article blockquote:before { content: "\f071"; position: absolute; left: 0; top: 4px; font-family: FontAwesome; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 19px; }
.article ul { margin: 18px 0; line-height: 1.2; font-size: 13px; }
.article ul li { position: relative; margin-bottom: 5px; padding-left: 30px; }
.article ul li:before { content: "\f00c"; position: absolute; left: 0; top: 0; font-size: 19px; color: #47a8c8; text-shadow: 0 1px 0 white; font-family: FontAwesome; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.article ol { margin: 18px 0 41px; }
.article ol li { position: relative; margin-bottom: 5px; padding-left: 30px; }
.article ol li:before { content: ""; position: absolute; left: 14px; top: 7px; width: 5px; height: 5px; background: #929292; border-radius: 50%; text-shadow: 0 1px 0 white; }

.info-box { margin-bottom: 35px; }
.info-box .col-title { margin-bottom: 10px; }

.country { display: table; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; padding: 3px 17px 3px 10px; width: 100%; background: #efefef; }
.country__left, .country__right { display: table-cell; width: 50%; vertical-align: middle; }
.country__right { text-align: right; }
.country__img, .country__name { display: inline-block; vertical-align: middle; }
.country__name { font-size: 15px; font-family: "roboto-bold", Arial, sans-serif; }
.country img { display: block; }

.btn-copy { display: inline-block; width: 30px; height: 30px; line-height: 27px; text-align: center; border-radius: 50%; background: #555555; -moz-box-shadow: 0 1px 0 white, inset 0 1px 0 rgba(57, 57, 57, 0.5); -webkit-box-shadow: 0 1px 0 white, inset 0 1px 0 rgba(57, 57, 57, 0.5); box-shadow: 0 1px 0 white, inset 0 1px 0 rgba(57, 57, 57, 0.5); -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.btn-copy:before { content: "\f0c5"; display: inline-block; vertical-align: middle; font-family: FontAwesome; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 15px; color: white; line-height: 1; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; }
.btn-copy:hover { background: #47a8c8; }

.box { margin-bottom: 16px; }
.box__info { padding: 5px 11px; }

.order { border: 1px solid #e5e5e5; margin-bottom: -1px; }
.order .country { border: 0; }
.order__table { display: table; width: 100%; }
@media only screen and (max-width: 640px) { .order__table { display: block; border-top: 1px solid #e5e5e5; }
  .order__table:first-child { border: 0; } }
.order__item { display: table-cell; vertical-align: top; padding: 26px 0 19px 22px; border-top: 1px solid #e5e5e5; }
@media only screen and (max-width: 640px) { .order__item { display: block; border: 0; padding: 15px 10px; } }
.order strong { font-weight: normal; font-family: "roboto-bold", Arial, sans-serif; }

.money { position: relative; display: inline-block; padding-left: 28px; }
.money:before { content: ""; position: absolute; left: 0; top: 2px; background: url('../img/icons-sf480961047.png') 0 -544px no-repeat; width: 21px; height: 24px; }

.details { margin-bottom: 45px; line-height: 1.3; }
.details p { margin-bottom: 14px; }
.details strong { font-weight: normal; font-family: "roboto-bold", Arial, sans-serif; }

.fotorama.is-ready { visibility: visible; }

.fotorama__html, .fotorama__stage__frame, .fotorama__stage__shaft, .fotorama__video iframe { position: absolute; width: 100%; height: 100%; top: 0; right: 0; left: 0; bottom: 0; }

.fotorama--fullscreen, .fotorama__img { max-width: 99999px !important; max-height: 99999px !important; min-width: 0 !important; min-height: 0 !important; border-radius: 0 !important; box-shadow: none !important; padding: 0 !important; }

.fotorama__wrap .fotorama__grab { cursor: move; cursor: -webkit-grab; cursor: -o-grab; cursor: -ms-grab; cursor: grab; }

.fotorama__grabbing * { cursor: move; cursor: -webkit-grabbing; cursor: -o-grabbing; cursor: -ms-grabbing; cursor: grabbing; }

.fotorama__img, .fotorama__spinner { position: absolute !important; top: 50% !important; left: 50% !important; }

.fotorama__img { margin: -50% 0 0 -50%; width: 100%; height: 100%; }

.fotorama__wrap--css3 .fotorama__arr, .fotorama__wrap--css3 .fotorama__fullscreen-icon, .fotorama__wrap--css3 .fotorama__nav__shaft, .fotorama__wrap--css3 .fotorama__stage__shaft, .fotorama__wrap--css3 .fotorama__thumb-border, .fotorama__wrap--css3 .fotorama__video-close, .fotorama__wrap--css3 .fotorama__video-play { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.fotorama__caption, .fotorama__nav:after, .fotorama__nav:before, .fotorama__stage:after, .fotorama__stage:before, .fotorama__wrap--css3 .fotorama__html, .fotorama__wrap--css3 .fotorama__nav, .fotorama__wrap--css3 .fotorama__spinner, .fotorama__wrap--css3 .fotorama__stage, .fotorama__wrap--css3 .fotorama__stage .fotorama__img, .fotorama__wrap--css3 .fotorama__stage__frame { -webkit-transform: translateZ(0); transform: translateZ(0); }

.fotorama__wrap--video .fotorama__stage, .fotorama__wrap--video .fotorama__stage__frame--video, .fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html, .fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img, .fotorama__wrap--video .fotorama__stage__shaft { -webkit-transform: none !important; transform: none !important; }

.fotorama__wrap--css3 .fotorama__nav__shaft, .fotorama__wrap--css3 .fotorama__stage__shaft, .fotorama__wrap--css3 .fotorama__thumb-border { -webkit-transition-property: -webkit-transform; transition-property: transform; -webkit-transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1); transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1); -webkit-transition-duration: 0ms; transition-duration: 0ms; }

.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__no-select, .fotorama__video-close, .fotorama__video-play, .fotorama__wrap { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.fotorama__select { -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text; }

.fotorama__nav, .fotorama__nav__frame { margin: 0; padding: 0; }

.fotorama__caption__wrap, .fotorama__nav__frame, .fotorama__nav__shaft { -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *display: inline; *zoom: 1; }

.fotorama__wrap * { -moz-box-sizing: content-box; box-sizing: content-box; }

.fotorama__caption__wrap { -moz-box-sizing: border-box; box-sizing: border-box; }

.fotorama--hidden, .fotorama__load { position: absolute; left: -99999px; top: -99999px; z-index: -1; }

.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__nav, .fotorama__nav__frame, .fotorama__nav__shaft, .fotorama__stage__frame, .fotorama__stage__shaft, .fotorama__video-close, .fotorama__video-play { -webkit-tap-highlight-color: transparent; }

.fotorama__thumb { background-color: #7f7f7f; background-color: rgba(127, 127, 127, 0.2); }

.fotorama { min-width: 1px; overflow: hidden; }

.fotorama:not(.fotorama--unobtrusive) > :not(:first-child) { display: none; }

.fullscreen { width: 100% !important; height: 100% !important; max-width: 100% !important; max-height: 100% !important; margin: 0 !important; padding: 0 !important; overflow: hidden !important; background: black; }

.fotorama--fullscreen { position: absolute !important; top: 0 !important; left: 0 !important; right: 0 !important; bottom: 0 !important; float: none !important; z-index: 2147483647 !important; background: black; width: 100% !important; height: 100% !important; margin: 0 !important; }

.fotorama--fullscreen .fotorama__nav, .fotorama--fullscreen .fotorama__stage { background: black; }

.fotorama__wrap { -webkit-text-size-adjust: 100%; position: relative; direction: ltr; }

.fotorama__wrap--rtl .fotorama__stage__frame { direction: rtl; }

.fotorama__nav, .fotorama__stage { overflow: hidden; position: relative; max-width: 100%; }

.fotorama__wrap--pan-y { -ms-touch-action: pan-y; }

.fotorama__wrap .fotorama__pointer { cursor: pointer; }

.fotorama__wrap--slide .fotorama__stage__frame { opacity: 1 !important; }

.fotorama__stage__frame { overflow: hidden; }

.fotorama__stage__frame.fotorama__active { z-index: 8; }

.fotorama__wrap--fade .fotorama__stage__frame { display: none; }

.fotorama__wrap--fade .fotorama__fade-front, .fotorama__wrap--fade .fotorama__fade-rear, .fotorama__wrap--fade .fotorama__stage__frame.fotorama__active { display: block; left: 0; top: 0; }

.fotorama__wrap--fade .fotorama__fade-front { z-index: 8; }

.fotorama__wrap--fade .fotorama__fade-rear { z-index: 7; }

.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active { z-index: 9; }

.fotorama__wrap--fade .fotorama__stage .fotorama__shadow { display: none; }

.fotorama__img { -ms-filter: "alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; border: none !important; }

.fotorama__error .fotorama__img, .fotorama__loaded .fotorama__img { -ms-filter: "alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; }

.fotorama--fullscreen .fotorama__loaded--full .fotorama__img, .fotorama__img--full { display: none; }

.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full { display: block; }

.fotorama__wrap--only-active .fotorama__nav, .fotorama__wrap--only-active .fotorama__stage { max-width: 99999px !important; }

.fotorama__wrap--only-active .fotorama__stage__frame { visibility: hidden; }

.fotorama__wrap--only-active .fotorama__stage__frame.fotorama__active { visibility: visible; }

.fotorama__nav { font-size: 0; line-height: 0; text-align: center; display: none; white-space: nowrap; z-index: 5; }

.fotorama__nav__shaft { position: relative; left: 0; top: 0; text-align: left; }

.fotorama__nav__frame { position: relative; cursor: pointer; }

.fotorama__nav--dots { display: block; }

.fotorama__nav--dots .fotorama__nav__frame { width: 23px; height: 30px; }

.fotorama__nav--dots .fotorama__nav__frame--thumb, .fotorama__nav--dots .fotorama__thumb-border { display: none; }

.fotorama__nav--thumbs { display: block; }

.fotorama__nav--thumbs .fotorama__nav__frame { padding-left: 0 !important; }

.fotorama__nav--thumbs .fotorama__nav__frame:last-child { padding-right: 0 !important; }

.fotorama__nav--thumbs .fotorama__nav__frame--dot { display: none; }

.fotorama__dot { display: block; width: 14px; height: 14px; position: relative; top: 12px; left: 6px; background: #d7d7d7; border-radius: 50%; }

.fotorama__nav__frame.fotorama__active { pointer-events: none; cursor: default; }

.fotorama__active .fotorama__dot { background-color: #47a8c8; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.fotorama__thumb { overflow: hidden; position: relative; width: 100%; height: 100%; }

.fotorama__thumb-border { position: absolute; z-index: 9; top: 0; left: 0; border-style: solid; border-color: #00afea; background-image: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1)); background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1)); }

.fotorama__caption { position: absolute; z-index: 12; bottom: 0; left: 0; right: 0; font-family: "Helvetica Neue", Arial, sans-serif; font-size: 14px; line-height: 1.5; color: black; }

.fotorama__caption a { text-decoration: none; color: black; border-bottom: 1px solid; border-color: rgba(0, 0, 0, 0.5); }

.fotorama__caption a:hover { color: #333333; border-color: rgba(51, 51, 51, 0.5); }

.fotorama__wrap--rtl .fotorama__caption { left: auto; right: 0; }

.fotorama__wrap--no-captions .fotorama__caption, .fotorama__wrap--video .fotorama__caption { display: none; }

.fotorama__caption__wrap { background-color: white; background-color: rgba(255, 255, 255, 0.9); padding: 5px 10px; }

.fotorama__wrap--css3 .fotorama__html, .fotorama__wrap--css3 .fotorama__stage .fotorama__img { -webkit-transition-property: opacity; transition-property: opacity; -webkit-transition-timing-function: linear; transition-timing-function: linear; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; }

.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html, .fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img { -ms-filter: "alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; }

.fotorama__select { cursor: auto; }

.fotorama__video { top: 32px; right: 0; bottom: 0; left: 0; position: absolute; z-index: 10; }

.fotorama__arr { cursor: pointer; }

.fotorama__arr--disabled { pointer-events: none; cursor: default; *display: none; }

.fotorama__fullscreen-icon { width: 32px; height: 32px; top: 0; right: 0; background-position: 0 -32px; z-index: 20; }

.fotorama--fullscreen .fotorama__fullscreen-icon { background-position: -32px -32px; }

.fotorama__video-play { width: 96px; height: 96px; left: 50%; top: 50%; margin-left: -48px; margin-top: -48px; background-position: 0 -64px; opacity: 0; }

.fotorama__wrap--css2 .fotorama__video-play, .fotorama__wrap--video .fotorama__stage .fotorama__video-play { display: none; }

.fotorama__error .fotorama__video-play, .fotorama__loaded .fotorama__video-play { opacity: 1; display: block; }

.fotorama__nav__frame .fotorama__video-play { width: 32px; height: 32px; margin-left: -16px; margin-top: -16px; background-position: -64px -32px; }

.fotorama__video-close { width: 32px; height: 32px; top: 0; right: 0; background-position: -64px 0; z-index: 20; opacity: 0; }

.fotorama__wrap--css2 .fotorama__video-close { display: none; }

.fotorama__wrap--css3 .fotorama__video-close { -webkit-transform: translate3d(32px, -32px, 0); transform: translate3d(32px, -32px, 0); }

.fotorama__wrap--video .fotorama__video-close { display: block; opacity: 1; }

.fotorama__wrap--css3.fotorama__wrap--video .fotorama__video-close { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr, .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon, .fotorama__wrap--video .fotorama__arr, .fotorama__wrap--video .fotorama__fullscreen-icon { opacity: 0; }

.fotorama__wrap--css2.fotorama__wrap--no-controls .fotorama__arr, .fotorama__wrap--css2.fotorama__wrap--no-controls .fotorama__fullscreen-icon, .fotorama__wrap--css2.fotorama__wrap--video .fotorama__arr, .fotorama__wrap--css2.fotorama__wrap--video .fotorama__fullscreen-icon { display: none; }

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon, .fotorama__wrap--css3.fotorama__wrap--video .fotorama__fullscreen-icon { -webkit-transform: translate3d(32px, -32px, 0); transform: translate3d(32px, -32px, 0); }

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev, .fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev { -webkit-transform: translate3d(-48px, 0, 0); transform: translate3d(-48px, 0, 0); }

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next, .fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next { -webkit-transform: translate3d(48px, 0, 0); transform: translate3d(48px, 0, 0); }

.fotorama__wrap--css3 .fotorama__arr, .fotorama__wrap--css3 .fotorama__fullscreen-icon, .fotorama__wrap--css3 .fotorama__video-close, .fotorama__wrap--css3 .fotorama__video-play { -webkit-transition-property: -webkit-transform, opacity; transition-property: transform, opacity; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; }

.fotorama__nav:after, .fotorama__nav:before, .fotorama__stage:after, .fotorama__stage:before { content: ""; display: block; position: absolute; text-decoration: none; top: 0; bottom: 0; width: 10px; height: auto; z-index: 10; pointer-events: none; background-repeat: no-repeat; background-size: 1px 100%, 5px 100%; }

.fotorama__nav:before, .fotorama__stage:before { background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), -webkit-radial-gradient(0 50%, farthest-side, rgba(0, 0, 0, 0.4), transparent); background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)); background-position: 0 0, 0 0; left: -10px; }

.fotorama__nav.fotorama__shadows--left:before, .fotorama__stage.fotorama__shadows--left:before { left: 0; }

.fotorama__nav:after, .fotorama__stage:after { background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), -webkit-radial-gradient(100% 50%, farthest-side, rgba(0, 0, 0, 0.4), transparent); background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)); background-position: 100% 0, 100% 0; right: -10px; }

.fotorama__nav.fotorama__shadows--right:after, .fotorama__stage.fotorama__shadows--right:after { right: 0; }

.fotorama--fullscreen .fotorama__nav:after, .fotorama--fullscreen .fotorama__nav:before, .fotorama--fullscreen .fotorama__stage:after, .fotorama--fullscreen .fotorama__stage:before, .fotorama__wrap--fade .fotorama__stage:after, .fotorama__wrap--fade .fotorama__stage:before, .fotorama__wrap--no-shadows .fotorama__nav:after, .fotorama__wrap--no-shadows .fotorama__nav:before, .fotorama__wrap--no-shadows .fotorama__stage:after, .fotorama__wrap--no-shadows .fotorama__stage:before { display: none; }

.fotorama__nav-wrap { position: absolute; left: 0; right: 0; }
