.l-main
	margin-top: 73px
.l-cols
	+clr
.l-col1
	float: left
	width: 42%
.l-col2
	float: right
	width: 46.5%
.article
	font-size: 15px
	line-height: 1.2
	+fr
	p
		margin-bottom: 14px
	b,strong
		font-weight: normal
		+fb
	i,em
		font-style: normal
		+fi
	a
		color: $blue    
		+tr
		&:hover
			color: $blue_d
	h1,h1,h2,h3,h4,h5,h6
		font-weight: normal
		+fb
	h1
		margin: 0 0 27px
		font-size: 28px
		line-height: 1
	h2
		font-size: 21px  
		margin: 30px 0 14px
		line-height: 1.1
	h3
		font-size: 20px
		margin: 25px 0 13px
	h4
		font-size: 15px
		margin: 24px 0 18px
	h5
		font-size: 14px
		margin: 24px 0 16px
	h6
		font-size: 12px
		margin: 22px 0 14px
	img
		margin: 10px 0 27px   
		max-width: 100%  
		height: auto
		border-radius: 5px	
	hr
		margin: 21px -22px 24px 0
		display: block
		width: 100% 
		padding-right: 22px
		border: 0
		height: 1px
		background: $gray 
	blockquote
		position: relative
		padding-left: 35px
		font-size: 12px
		&:before
			content: "\f071"
			position: absolute
			left: 0
			top: 4px
			+fa
			font-size: 19px 
	ul
		margin: 18px 0
		line-height: 1.2
		font-size: 13px
		li
			position: relative
			margin-bottom: 5px
			padding-left: 30px
			&:before
				content: "\f00c" 
				position: absolute
				left: 0
				top: 0
				font-size: 19px
				color: #47a8c8
				+ts
				+fa
	ol
		margin: 18px 0 41px
		li
			position: relative
			margin-bottom: 5px
			padding-left: 30px
			&:before
				content: "" 
				position: absolute
				left: 14px
				top: 7px
				width: 5px
				height: 5px
				background: #929292 
				border-radius: 50% 
				+ts