.slider
	position: relative
	height: 619px
	overflow: hidden
	.fotorama
		overflow: hidden
		&__nav-wrap
			bottom: 32px
			text-align: left
		&__nav
			&__shaft
				max-width: 1100px
				+box
				padding-left: 208px
				margin: 0 auto
				display: block 
	&__item
		position: relative
		.l-center
			position: relative
			height: 619px
	&__img
		position: absolute
		left: 50%
		top: 0
		bottom: 0
		margin-left: -1200px
		width: 2400px
		text-align: center
	&__info
		position: absolute
		top: 109px
		left: 147px
		letter-spacing: 1px 
		.list
			margin-left: 30px
	&__title
		margin-bottom: 6px
		font-size: 44px
		+ft
	&__subtitle
		margin-bottom: 29px
		font-size: 30px
		+fb 
.login
	position: absolute
	left: 66px
	bottom: 105px
	width: 452px
	+box
	background: #fff
	border-radius: 10px 
	.field
		margin-bottom: 14px
	.input-wrap
		margin-right: 10px
		width: 150px
	&__in
		padding: 15px 15px 7px
	&__footer
		border-top: 1px solid #e5e5e5 
		padding: 15px 33px 22px
		color: #6a6a6a
		font-size: 13px
		+fb 
		a
			+tr
			&:hover
				color: $blue_d 
.soc-enter
	padding-left: 20px
	color: #6a6a6a
	a,span
		display: inline-block
		vertical-align: middle
	span
		margin-right: 10px
		font-size: 13px
		+fb
	a
		width: 36px
		height: 36px
		text-align: center
		line-height: 36px
		font-size: 28px
		color: $blue 
		+tr
		&:hover
			color: $blue_d 
		i
			display: inline-block
			vertical-align: middle
			
.promo
	position: relative
	padding-top: 9px
	height: 416px
	color: #3e3e3e
	+box
	background: url(../img/paper.png) 50% 0 repeat-x 
	&__in
		max-width: 996px
		margin: 0 auto 
	&__title	
		margin: 0 auto 
		+s(list)
		line-height: 180px
		font-size: 40px
		+ft
		text-align: center
	&__wrap
		margin-top: -40px
		padding-left: 26px
		+justify
	&__item
		text-align: center
		display: inline-block
		vertical-align: bottom
		font-size: 19px
		text-shadow: 0 1px 0 rgba(255,255,255,.45)
		div
			margin-bottom: 17px
			+fb
			font-size: 30px
			
	&__img
		i
			display: inline-block
	&__sign
		+s(sign-up)
	&__cart
		+s(cart)
	&__receive
		+s(receive)
.about
	padding: 45px 50px 48px 
	+clr
	img
		float: left
	&__text
		float: right
		padding-top: 37px
		width: 515px
		text-align: right
		letter-spacing: .5px 
		p
			margin-bottom: 14px

.region
	border-top: 1px solid #e5e5e5 
	padding: 26px 50px 50px 
	+clr
	color: #3e3e3e 
	&__text
		float: left
		padding-top: 30px
		width: 325px
	&__maps
		overflow: hidden
	&__item
		float: left
		width: 33.3%
	&__name
		margin-bottom: 17px
		text-align: center
		+fb
		font-size: 15px
	&__img
		height: 245px
		line-height: 245px
		text-align: center
		img
			vertical-align: middle
			margin-left: -30px
	&__list
		margin-top: 32px
		border-top: 1px solid #e5e5e5 
		padding: 15px 0 0 10px
		li
			span
				+fi
				color: #878787 